<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="carousel-inner" #carousel>
    <li *ngFor="let item of items;" class="carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
      <img src="https://yt3.ggpht.com/a/AGF-l78tMzrInx4sHcW-BIVfUAjJsa_ojMjLlAxOyQ=s900-c-k-c0xffffffff-no-rj-mo" style="float: right; display:inline-block;" width="300px" height="300px">
    </li>
  </ul>
</section>
<div *ngIf="showControls" style="margin-top: 1em">
  <button (click)="prev()" class="btn btn-default">Prev</button>
  <button (click)="next()" class="btn btn-default">Next</button>
</div>